<!-- Footer -->
<footer>
    <div class="container">
        <div class="row footer-row">
            <div class="col-12 col-md-4" style="margin-bottom: 40px;">

                <img width="200px"  src="/assets/logo.png" alt="MAD Token logo" />
            <br>
            <br>
        

            <h4 style="color: #D60B51; font-size: 0.855em"  >A Token for Change</h4>

            </div>
           

            <div class="col-12 col-md-6" style="display: flex; align-items: center; justify-content: space-between;">
                <p class="copyright">&copy; 2021 All rights reserved by MAD Token</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->
